body {
    font-family: 'Montserrat', sans-serif;;
}

#product-overview {
    background: rgb(116, 117, 117);
}
.section-title {
    color: teal;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}
